/* nav {
  display : inline;
  width: 25%;
  color : pink;
  border : 1px solid black;
} */

.flex-container {
  display: inline-flex;
  flex-flow: row nowrap;
  flex-direction:row;
  color : #9C9C9C;
}

.flex-item-no-inline {
  justify-content : space-around;

}

.nav-title {
  font-size : 1.8vh;
  font-weight : 600;
  color : #616161;
  padding-bottom : 1vh;

}

 ul {
  display : block;
  border : 1px solid blue;
  text-align : left;
  font-weight : 600;
  padding : 8vh;
  width : 10vh;
}

 li {
  display : block;
  padding : 0.5vh;
}

 a {
  display : block;
  font-size : 1.25vh;
  color : #9C9C9C;
  text-decoration: none;
}
