
.footer-flex-container {
  display: inline-flex;
  flex-flow: row nowrap;
  color : #9C9C9C;
}

.flex-item-no-inline {
  justify-content : space-around;
  max-width : 20vw;
}

.nav-title {
  color : #616161;
  font-size : 1.8vh;
  font-weight : 600;
  padding-top : 1vh;
  padding-bottom : 1vh;
  margin : 0;

}

 ul {
  display : block;
  text-align : left;
  font-weight : 600;
  padding : 0 3vw;
  margin : 0;
  width : 10vh;
}

 li {
  display : block;
  padding : 0.5vh;
}

 a {
  display : block;
  color : #9C9C9C;
  font-size : 1.25vh;
  text-decoration: none;
}
