body {
  color : #727272;
}

.section1 {
  background-image : url("images/header-photo.jpg");
  background-size: 100%;
}

.bg-pink-triangle {
  background-image : url("images/decorationBox.png");
  background-size: 100%;
}

.section3 {
  background-image : url("images/section3-photoBackground.jpg");
  background-size: 100%;
}

.section5 {
  background-image : url("images/section5-background.jpg");
  background-size: 100%;
}

.section6 {
  background-color: #F6F5F3;
  color: #A6A6A9;
}

.image {
    max-width: 100%;
    height: auto;
    margin: auto 0;
    position : relative;
}

.logo {
  color: #A6A6A9;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
