body {
  color : #727272;
  font-family: 'Play', sans-serif;
  font-size : 1.5vh;
}

section {
  padding : 11vw;
  position : relative;

}

.section1 {
  background-image : url("images/header-photo.jpg");
  background-size: 100%;
  padding:  11vw 20vw;
}

.section1 h1 {
  font-weight : 100;
  font-size : 5vw;
}


.section1 form {
  display : block;
}


.pink-button {
  font-family: 'Play', sans-serif;
  background-color : #FF6D6D;
  color : white;font-weight : 100;
  font-size : 1.75vw;
  border : none;
  width : 16vw;
  height: 4vw;
  bottom : 0px;
  padding : 0.75vw 1vw;
  margin-left :auto;
  margin-right : auto;
  margin-top : 2vw;
}

.goArrow {
  display : block;
  width : 10%;
  margin-left :auto;
  margin-right : auto;
  margin-bottom : 2vw;
}

.bg-image-positionable {
  position : relative;
}

.bg-pink-triangle {
  background-image : url("images/decorationBox.png");
  background-size: 100%;
  padding : 11vw;
  overflow : none;
}

.section3 {
  background-image : url("images/section3-photoBackground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color : #F6F5F3;
}

.section5 {
  background-image : url("images/section5-background.jpg");
  background-size: 100%;
}

.section6 {
  background-color: #F6F45F3;
  color: #A6A6A9;
  padding-bottom : 0;
}

.flex-item {
  display: inline-flex;
  justify-content : space-around;

}

.image-non-aligned {
    max-width: 100%;
    height: auto;
    margin: auto 0;
    position : relative;
    padding : 4vw;
}

.image-bottom {
    max-width: 100%;
    height: auto;
    margin: auto 0;
    position : relative;
    padding-bottom : 0;
}

.logo {
  color: #A6A6A9;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
